<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CalenderMapper">
	<select id="calenderlist" resultType="Calender" parameterType="map">
		select * from calender where memberno=${memberno} or kindno=1
	</select>
</mapper>