<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="mapper/mybatis.properties" />
	<typeAliases>
		<typeAlias type="model.Member" alias = "Member"/>
		<typeAlias type="model.Board" alias = "Board"/>
		<typeAlias type="model.Reply" alias = "Reply"/>
		<typeAlias type="model.Calender" alias = "Calender"/>
		<typeAlias type="model.Message" alias = "Message"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/MemberMapper.xml"/>
		<mapper resource="mapper/BoardMapper.xml"/>
		<mapper resource="mapper/ReplyMapper.xml"/>
		<mapper resource="mapper/CalenderMapper.xml"/>
		<mapper resource="mapper/MessageMapper.xml"/>
	</mappers>
</configuration>